section {
    padding: 80px 0;
}

p {
    font-size: 20px;
}
.section-heading {
    margin-top: 0;
    font-size: 50px;
    margin-bottom:50px;
}


.text-faded {
    color: rgba(255,255,255,.65);
}


.text-section {
    width: 90%; 
    margin: 0 auto;"
}

.no-padding {
    padding: 0;
}

.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.portfolio-box {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
}

.carousel-caption {
    color: black;
}


.btn-primary {
    border-color: #328fff;
    color: #fff;
    background-color: #328fff;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all 0.25s;
}

.btn {
    border: 0;
    border-radius: 100px;
/*    text-transform: uppercase;
*/    font-family: Proxima Nova,'Helvetica Neue',Arial,sans-serif;
    font-weight: 450;
}

.odd {
    background-color: #5EB0C5;
}

#MrGPortrait {
    max-width: 200px;
}

#CollegeStatImg {
    max-width: 400px;
    width: 50%;
}

#global {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/10/Global_Education.jpg");
    background-repeat:no-repeat;
    background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
    text-shadow: 0 0 15px #000000;

}

#about {
    /*background-image: url("../img/index/symposium.jpg");*/
    background-position: center left;
    background-repeat: no-repeat;
    background-color: #010814;
    background-size: cover;
    min-height: 400px;
    color: white;

    text-shadow: 0 0 15px #000000;
}

li {
    display: block;
}

li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e080";
    font-family: 'Glyphicons Halflings';
    font-size: 15px;
    float: left;
    margin-top: 4px;
    margin-left: -20px;
    color: #CCCCCC;
}

.text-section li {
    text-align: left;
}

.upper {
    text-transform: uppercase;
}

